.btn {
	background: rgb(3, 114, 18);
	border-radius: 5px;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	cursor: pointer;
	padding: 5px 15px;
	color: #fff;
	font-weight: 600;
}
