.box {
	border: 1px solid rgb(3, 114, 18);
	border-radius: 2px;
	padding: 5px;
	background-color: rgb(44, 176, 61);
}

.input {
	color: #fff;
	background-color: rgb(44, 176, 61);
	outline: none;
	width: 30px;
	height: 30px;

	text-align: center;
}
