.container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.row {
	display: flex;
	border: 1px solid rgb(0, 0, 0);
	box-shadow: -1px -1px 1px 1px rgb(6, 113, 9);
}
.targets {
	display: flex;
	gap: 5px;
}

.source {
	border-right: 5px solid rgb(6, 113, 9);
}

.block {
	background-color: rgb(127, 255, 172);
	padding: 10px 20px;
	width: 50px;
}
