.view {
	box-sizing: border-box;
	display: flex;

	justify-content: center;
	align-items: center;
	border-radius: 5px;
	border: 5px solid red;

	cursor: pointer;

	transition: scale 0.3s ease 0.05s;

	&:hover {
		scale: 1.005;
	}
}
